name: Auto Release

on:
  workflow_call:
  workflow_dispatch:

permissions:
  pull-requests: read

jobs:
  auto-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
        run: |
          curl -s https://raw.githubusercontent.com/apple/swift-temporal-sdk/main/.github/scripts/create-release.sh | bash
